body {
  text-align: center;
  margin: 0;
}

/*class selectors*/
.companyname {
  color: #35488a;
  font-size: 3rem;
  margin: auto;
}

.btn {
  background: #1563b8;
  background-image: -webkit-linear-gradient(top, #1563b8, #1b95e0);
  background-image: -moz-linear-gradient(top, #1563b8, #1b95e0);
  background-image: -ms-linear-gradient(top, #1563b8, #1b95e0);
  background-image: -o-linear-gradient(top, #1563b8, #1b95e0);
  background-image: linear-gradient(to bottom, #1563b8, #1b95e0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 50px;
  margin: 7rem auto auto auto;
}

.btn:hover {
  background: #1b95e0;
  background-image: -webkit-linear-gradient(top, #1b95e0, #1563b8);
  background-image: -moz-linear-gradient(top, #1b95e0, #1563b8);
  background-image: -ms-linear-gradient(top, #1b95e0, #1563b8);
  background-image: -o-linear-gradient(top, #1b95e0, #1563b8);
  background-image: linear-gradient(to bottom, #1b95e0, #1563b8);
  text-decoration: none;
}

.rights_reserved {
  color: rgb(124, 124, 124);
  position: absolute;
  bottom: 10px;
  left: auto;
  right: auto;
}

.preview-home {
  background-color: #deecfb
}
/*navbar css*/


h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 2.5em;
  display: flex;
}

.main-nav {
  margin-top: 5px;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: .99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-top: .5em;
  padding-bottom: .5em;
  border: 0 1px 0 1px solid #a2a2a2;
  background-color: #f4f4f4;

  box-shadow: 0 0 14px 0 #000000;
  border-radius: 5px;
}

/* =================================
  Media Queries
==================================== */
@media (min-width: 769px) {

  .header,
  .main-nav {
    display: flex;
  }

  .header {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

@media  {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
/*dropdown css*/
ul {

  list-style-type: none;
  display: flex;
  position: absolute;
  right: 0.625rem;
  
  /*   min-width:60%; */
}

ul>li {
  line-height: 25px;
  margin: 0 0;
  padding: 0;
  text-align: center;
  display: inline-block;


  min-width: 7rem;
}

ul>li>a {
  position: relative;
  margin: 0;
  color: white;
}

ul>li:hover {
  border-bottom: 2px solid white;
  background-color: #E5E5E5
}

ul>.dropdown:hover {
  border-bottom: none;
}

ul>.dropdown:hover>.dd {
  display: block;
}

.dropdown:hover>a .fa-caret-down {
  display: none;
}

a {
  text-decoration: none;
}

ul>li>div {
  position: absolute;
  padding: 0;
  display: none;
  background-color: aliceblue;
  min-width: 7rem;
}

ul>li>div>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#up_arrow {
  position: relative;
  width: 20px;
  height: 20px;
  left: 42%;
  top: -10px;
  background-color: aliceblue;
  transform: rotate(45deg);
}

ul>li>div>ul>li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

ul>li>div>ul>li>a {

  color: black;
}
/*dropdown css end*/

.footer {
  position: absolute;
  background-color: #f4f4f4;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
